# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# STM32CubeMX
.mxproject

# Build Directories
build/
Release/
Debug/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile

# VS Code
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Output Binary Files
*.elf
*.bin
*.hex
*.map
*.lst
*.srec


venv/
__pycache__/
*.pyc
